<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webApiSetting"
             type="System.Configuration.NameValueFileSectionHandler"
             restartOnExternalChanges="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FMst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings file="global.config">
    <add key="twitter" value=""/>
  </appSettings>
  <webApiSetting file="webapi.config">
    <add key="domain" value=""/>
    <add key="mailAddress" value=""/>
    <add key="smtpUserName" value=""/>
    <add key="smtpPassword" value=""/>
    <add key="smtpHost" value=""/>
    <add key="recipient" value=""/>
  </webApiSetting>
  <userSettings>
    <FMst.Properties.Settings>
      <setting name="MailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Recipient" serializeAs="String">
        <value />
      </setting>
    </FMst.Properties.Settings>
  </userSettings>
</configuration>