<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webApiSetting"
             type="System.Configuration.NameValueFileSectionHandler"
             restartOnExternalChanges="false"/>
  </configSections>

  <appSettings file="global.config">
    <add key="twitter" value=""/>
  </appSettings>
  <webApiSetting file="webapi.config">
    <add key="domain" value=""/>
  </webApiSetting>
</configuration>